.prod {
	position: absolute;
	top: 0;
	width:100%;
	height:100%;
  min-height: 700px;
	z-index:101;
}

.prod_about{
	width: 290px;
	height: 100%;
	background-color: #444849;
	color: white;
	float: left;
}

.prod_about a.prod_close {
	display:block;
	position: absolute;
	left: 290px;
  top: 50%;
  margin-top: -19px;
	width: 38px;
	height: 38px;
  background-image: url(../../img/nav_close.png);
  opacity: 0.3;
  z-index: 1;
}
.prod_about a.prod_close:hover {
  opacity: 1;
}

.prod_about .prod_logo{
	text-align: center;
}

.prod_about .elastic_space{
  height: 10%;
}

.prod_about .prod_descr{
	padding: 0 40px;
}

.prod_about h1 {
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
}
.prod_about .prod_text{
	margin-top: 32px;
}
.prod_about .prod_text p {
	font-size: 15px;
}

.prod_about .prod_nav {
	margin-top: 40px;
	padding: 0 32px 0 40px;
}

.prod_nav ul {
	list-style: none;
}
.prod_nav ul li {
	float: left;
	margin: 8px 8px 0 0;
}

.prod_nav ul li a.active {
	opacity: 0.3;
}

.prod_photo {
	height: 100%;
	margin-left: 240px;
	overflow: hidden;
	background-color: #c6c6c6;
}





.for_main .prod, .for_main .prod_photo {
	display: none;
}
/*
.for_main .prod_about .prod_close {
	display: block;
}
*/
